@font-face {
  font-family: customfont;
  src: url(src/css/fonts/centurygothic.ttf);
}
.main-font {
  font-family: 'customfont';
}

.m-table {
  /* height or max-height is important */
  height: 700px;
  /* this is when the loading indicator appears */
  padding: 5px;
}

.m-table .q-table__top,
.m-table .q-table__bottom,
.m-table thead tr:first-child th {
  /* bg color is important for th; just specify one */
  background-color: rgb(60, 60, 60);
}

.m-table thead tr th {
  position: sticky;
  z-index: 1;
}

.m-table thead tr:first-child th {
  top: 0;
}

.m-table.q-table--loading thead tr:last-child th {
  /* height of all previous header rows */
  top: 48px;
}
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body {
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 15px;
  background: rgb(60, 60, 60);
  opacity: 0 !important;
}

body::-webkit-scrollbar-thumb {
  background: grey
}

body:hover::-webkit-scrollbar-thumb {
  background: grey
}

body::-webkit-scrollbar-thumb:hover {
  background: grey
}
